.bill .list-group-item-name {
    display: block;
    font-size: 14px;
    line-height: 1.5em;
    max-width: 400px;
}

.bill .list-item-title {
    font-weight: bold;
    font-size: 14px;
    width: 100px;
}

.bill .list-item-description {
    padding-left: 10px;
    color: #767676;
    line-height: 13px;
    margin-top: 4px;
    font-size: 13px;
    max-width: 400px !important;
}

.bill-last{
    list-style: none;
    position: absolute;
    right: 10px;
    top: 8px;
}

.bill-last li{
    float: right;
    font-size: 14px;
    line-height: 20px;
    margin-left: 10px;
}

.bill-last .time{
    color: #586069;
    font-size: 12px;
}

.bill-last .balance{
    font-weight: bold;
}